# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:** <br>
* List popular languages for Data Science
* List commonly used libraries for Data Science
* List some examples of development environment tools used in Data Science

Some of the popular languages that Data Scientists use are: <br>
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:<br>
1. Pandas
2. Numpy
3. Scikit-learn

|Data Science Tools|
|---|
|JupyterLab and Jupyter Notebook|
|Spyder|
|RStudio|
|Google Colab|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Marco Montes de Oca